<div class="container-fluid">
    <div class="row text-center bg-white py-3">
        <h1>Buy a house I dare you you wont</h1>
    </div>

    <div id="house-form" class="d-none row my-5 justify-content-center">
        <div class="col-6">
            <form onsubmit="app.HousesController.createHouse()" class="row mx-5 bg-white p-4 shadow border border-3">
                <div class="col-4 py-2">
                    <label for="">Price</label>
                    <input class="form-control" type="number" name="price" id="" required>
                </div>
                <div class="col-4 py-2">
                    <label for="">Bedrooms</label>
                    <input class="form-control" type="number" name="bedrooms" id="" required>
                </div>
                <div class="col-4 py-2">
                    <label for="">Bathrooms</label>
                    <input class="form-control" type="number" name="bathrooms" id="" required>
                </div>
                <div class="col-6 py-2">
                    <label for="">Levels</label>
                    <input class="form-control" type="number" name="levels" id="" required>
                </div>
                <div class="col-6 py-2">
                    <label for="">Year</label>
                    <input class="form-control" type="number" name="year" id="" required>
                </div>
                <div class="col-12 py-2">
                    <label for="">Image URL</label>
                    <input class="form-control" type="text" name="imgUrl" id="" required>
                </div>
                <div class="col-12 py-2">
                    <label for="">Description</label>
                    <textarea class="form-control" name="description" id="" required></textarea>
                </div>
                <div class="col-12 text-center pt-3">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row px-5" id="houses-container">

    </div>
</div>